<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre o Projeto</a></li>
                                <li><a href="#atendimento">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="#" role="button"><img class="imgperfil" src="images/perfil.svg"> Cadastro</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 08 -->
        <section class="section08" id="Section 08">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="sec08titleh2">Como fazer o descarte?<h2>
                    </div>
                    <div class="col-md-6">
                        <p class="sec08ph1">Para descartar corretamente, é necessário fazer o cadastro e utilizar a opção de localização 
                            para encontrar os pontos de descarte mais próximos de você. Não é obrigatório desmontar os aparelhos, mas é 
                            essencial remover as baterias e os dados pessoais dos equipamentos. Por fim, separe os dispositivos por tipo, 
                            tamanho e condição de funcionamento.</p>
                            <div class="sec08btn"><a class="btn btnsec08" href="#" role="button">Procurar localização</a></div>
                    </div>
                    <div class="col-md-6">
                        <img  class="sec08img1" src="images/sec08img1.svg">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 08 -->

         <!-- Begin Section 09 -->
         <section class="section09" id="Section 09">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="sec09titleh2">Categorias</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                        <div class="sec09card">
                            <img class="imgsec09" src="images/sec09img1.svg">
                            <h3 class="sec09title1">Linha azul</h3>
                            <p class="sec09ph">Pequenos eletrodoméstico como parafusadeira, bateria, liquidificador, etc.
                            </p>
                        </div>
                        <div class="sec09card2">
                            <img class="imgsec09" src="images/sec09img2.svg">
                            <h3 class="sec09title2">Linha verde</h3>
                            <p class="sec09ph"> Equipamentos de informática como computadores, notebook, impressora entre outros.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec09card3">
                            <img class="imgsec09"src="images/sec09img3.svg">
                            <h3 class="sec09title3">Linha marrom</h3>
                            <p class="sec09ph"> Equipamentos de áudio sendo eles TV, som, vídeo game entre outros.
                            </p>
                        </div>
                        <div class="sec09card4">
                            <img class="imgsec09"src="images/sec09img4.svg">
                            <h3 class="sec09title4">Linha branca</h3>
                            <p class="sec09ph"> Grandes equipamentos eletrodomésticos como fogão, micro-ondas, maquina de lavar, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        <!-- End Section 09 -->
        

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>