<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="index.html">Home</a></li>
                                <li><a href="#sobre">Sobre o Projeto</a></li>
                                <li><a href="atendimento.html">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="cadastro.html" role="button"><img class="imgperfil" src="images/perfil.svg"> Cadastro</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 05 -->
        <section class="section05" id="Section 05">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h2 class="sec05titleh2">O que são os resíduos eletrônicos?<h2>

                    <p class="sec05ph1">Resíduos eletrônicos (ou e-lixo) referem-se a aparelhos eletrônicos descartados ou obsoletos, como celulares, computadores, televisores, baterias e eletrodomésticos. Esses resíduos contêm materiais valiosos, como metais e componentes que podem ser reaproveitados, mas também substâncias tóxicas como chumbo, mercúrio e cádmio, que são prejudiciais ao meio ambiente e à saúde humana. A conscientização e o descarte adequado nos pontos de coleta ou reciclagem especializados são passos cruciais para mitigar os impactos negativos dos resíduos eletrônicos.</p>
                    <p class="sec05ph2">O descarte correto de resíduos eletrônicos é fundamental para proteger o meio ambiente, a saúde pública e para garantir um uso mais consciente dos recursos naturais, criando uma sociedade mais sustentável e responsável. </p>

                    <div class="sec05lbocoimg">
                        <img  class="sec05img1" src="images/sec05img1.svg">
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 05 -->


        <!-- Begin Section 06 -->
        <section class="section06" id="Section 06">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-12">
                                <h2 class="sec06titleh2">Motivações para fazer o descarte correto:</h2>
                            </div>
                            <div class="col-md-6">
                            <div class="sec06card">
                                <img class="imgsec06" src="images/sec06img1.svg">
                                <h3 class="sec06title">Incentivo à Economia Circular e Geração de Empregos</h3>
                                <p class="sec06ph"> 
                                    <ul class="sec06ph"><li>Apoia a economia circular</li>
                                        <li>Gera oportunidades de emprego</li></ul>
                                </p>
                            </div>
                            <div class="sec06card2">
                                <img class="imgsec06" src="images/sec06img2.svg">
                                <h3 class="sec06title">Preservação Ambiental</h3>
                                <p class="sec06ph"> 
                                            <ul class="sec06ph"><li>Evita a contaminação do solo e da água</li>
                                                <li>Reduz a poluição do ar</li></ul>
                                        </p>
                            </div>
                           <div class="sec06card3">
                                <img class="imgsec06"src="images/sec06img4.svg">
                                    <h3 class="sec06title">Proteção da Saúde Humana</h3>
                                    <p class="sec06ph"> 
                                        <ul class="sec06ph"><li>Evita exposição a substâncias tóxicas</li>
                                            <li>Protege os trabalhadores na cadeia de reciclagem</li> </ul>
                                    </p>
                            </div>
                            <div class="sec06card4">
                                <img class="imgsec06"src="images/sec06img5.svg">
                                <h3 class="sec06title">Recuperação de Recursos Valiosos</h3>
                                <p class="sec06ph"> 
                                    <ul class="sec06ph"><li>Economiza recursos naturais</li>
                                        <li>Reduz o consumo de energia</li></ul>
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- End Section 06 -->

       <!-- Begin Section 07 -->
        <section class="section07" id="Section 07">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="sec07titleh2">Importância de reciclar corretamente</h2>
                        <div>
                            <img class="sec07img1" src="images/sec07img1.svg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="sec07ph1">Nós devemos fazer o descarte correto dos resíduos eletrônicos para proteger o meio ambiente, 
                            preservar a saúde pública e contribuir para uma economia mais sustentável. O descarte inadequado desses materiais 
                            pode liberar substâncias tóxicas que contaminam o solo, a água e o ar, causando danos à flora, à fauna e à saúde humana. 
                            Além disso, o descarte correto permite o reaproveitamento de componentes valiosos, reduzindo a necessidade de extração 
                            de recursos naturais e poupando energia. Por esta razão nosso projeto visa preservar o meio ambiente influenciando nosso usuário 
                            do descarte correto desses materiais.</p>
                    </div>
                    <div class="sec07btn"><a class="btn btnsec07" href="#" role="button">Feedback</a></div>
                </div>
            </div>
        </section>    
        <!-- End Section 07 -->

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>