<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre o Projeto</a></li>
                                <li><a href="#atendimento">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="#" role="button"><img class="imgperfil" src="images/perfil.svg"> Cadastro</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 22 -->
        <section class="section22" id="Section 22">
            <div class="container">
                <div class="row">
                    <div class="sec22card">
                        <h2 class="sec22perguntas">Olá, você tem algum problema nas seguintes opções?</h2>
                        <div class="sec22ph">
                            <a class="btn btnsec22" href="./chat.html" role="button">Como fazer o descarte?</a>
                        </div>
                        <div class="sec22ph">
                            <a class="btn btnsec22" href="./chat.html" role="button">Onde fazer o descarte?</a>
                        </div>
                        <div class="sec22ph">
                            <a class="btn btnsec22" href="./chat.html" role="button">Como faço para receber a recompensa?</a>
                        </div>
                        <div class="sec22ph">
                            <a class="btn btnsec22" href="./chat.html" role="button">Como faço para mudar minhas informações?</a>
                        </div>
                        <div class="sec22ph">
                            <a class="btn btnsec22" href="./chat.html" role="button">Não recebi a recompensa o que fazer?</a>
                        </div>
                    </div>         
                    <div class="shortcuts">
                        <button class="shortcut-button">Posso solicitar uma troca?</button>
                        <button class="shortcut-button">CPF em outra conta</button>
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Digite uma mensagem">
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 14 -->
       
        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>