<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>Cadastro - BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="./index.html">Home</a></li>
                                <li><a href="./sobre.html">Sobre o Projeto</a></li>
                                <li><a href="./atendimento.html">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="./cadastrar.html" role="button"><img class="imgperfil" src="images/perfil.svg"> Cadastro</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 14 -->
        <section class="section14" id="Section 14">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blocksec14">
                            <div class="sec14blocoimg">
                                <img  class="sec14imgmob" src="images/logo-negativo.png">
                            </div>
                            <h2 class="sec14title">Local de Descarte</h2>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" name="nome">Nome</label>
                                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu nome">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" name="cpf">CPF</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu CPF">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" name="localizacao">Localização</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Sua localização">
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Salvar informações?</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec14blocoimg">
                            <h2 class="sec14titleh2">Login de endereço</h2>
                            <p class="sec14ph1">Realize o cadastro do endereço. Ao realiza-lo poderemos acessar informações para que seja possível 
                            localizar o local de descarte mais próxima de você!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 14 -->
       
        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>