<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="./index_cadastro.html">Home</a></li>
                                <li><a href="./sobre_cadastro.html">Sobre o Projeto</a></li>
                                <li><a href="./atendimento_cadastro.html">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="#" role="button"><img class="imgperfil" src="images/perfil.svg"> Seu Perfil</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 20 -->
        <section class="section20" id="Section 20">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="blocklogin">
                            <h2 class="seclogintitle">Endereços</h2>
                            <form>
                                <div class="sec20botoes">
                                    <div class="sec20btn"><a class="teste" href="https://www.google.com/maps/place/R.+Carlos+Gomes,+492+-+Jardim+Santo+Antonio,+Salto+-+SP,+13321-460/@-23.1886727,-47.2893952,17z/data=!3m1!4b1!4m6!3m5!1s0x94cf4dfa32164181:0xd0655a1028fb6ccc!8m2!3d-23.1886727!4d-47.2868203!16s%2Fg%2F11jx2wb9f0?entry=ttu&g_ep=EgoyMDI0MTIwMy4wIKXMDSoASAFQAw%3D%3D" role="button"><p class="sec20end1">Ecoponto 10</p></a></div>
                                    <p class="sec20end">Rua Carlos Gomes 492 (Jardim Santo Antonio), Salto, SP</p>
                                </div>
                                <div class="sec20botoes">
                                    <div class="sec20btn"><a class="btn btnsec20" href="https://www.google.com/maps/search/Cso+ambiental:+361+R.+Arg%C3%A9lia+-+Jardim+das+Nacoes,+Salto,+SP,+13322-210/@-23.1891865,-47.2791591,14z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D" role="button"><p class="sec20end1">Cso ambiental</p></a></div>
                                    <p class="sec20end">Rua Carlos Gomes 492 (Jardim Santo Antonio), Salto, SP</p>
                                </div>
                                <a class="btn btnsec22desc" href="./cadastrar.html" role="button">Fazer Descarte</a>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="images/sec20img1.jpeg">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 20 -->
       
        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>