<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/favicon-bitcode.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">

                        <!--begin logo -->
                        <a href="#home" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <!--end logo -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto left-menu">
                                 <li><a href="./index_cadastro.html">Home</a></li>
                                <li><a href="./sobre_cadastro.html">Sobre o Projeto</a></li>
                                <li><a href="./atendimento_cadastro.html">Atendimento</a></li>
                            </ul> 
                            <div><a class="btn btn-menu" href="./SEUperfil.html" role="button"><img class="imgperfil" src="images/perfil.svg"> Seu Perfil</a></div>
                        </div>
                    </nav>
                </div>  
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 16 -->
        <section class="section17" id="Section 16">
            <div class="container">
               <div class="row">
                    <div class="col-md-2"> <img src="images/imgperfil.svg"></div>
                    <div class="col-md-4">
                        <div class="sec17block00">
                            <h1 class="sec17h1block0">Seu perfil</h1>
                            <h3 class="sec17h3block0">@seuarrobaADM</h3>
                            <a class="btn btn-sec17" href="./editar.html" role="button">Editar Perfil</a>                           
                        </div>
                    </div>  

                    <div class="col-md-6">
                        <div class="sec17block1">  
                            <h4 class="sec17h4butaadd">Clique abaixo para ler o QRCode<br> e cadastrar o novo descarte</h4>
                            <div class="sec17blocbutadd"><a class="btn btn-sec17butadd" href="./geradorQRCODE.html" role="button">Ler QRCODE</a> </div>
                        </div>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="sec17block1">
                            <h2 class="sec17th2">Descartes:</h2>
                            <p class="sec17ph1">Clique nos quadrados a seguir para acessar o perfil do usuário que realizou o descarte e emitir o seu QR Code de autentificação de descarte.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="sec17block2">
                            <a href="./perfilclienteADM.html"><img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 1</h4>
                            <p class="sec17ph2">@arrobadousuario</p></a>
                        </div>
                       
                    </div>
                    <div class="col-md-3">
                       <div class="sec17block2">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 2</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec17block2">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 3</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                       <div class="sec17block2">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 4</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-3">
                        <div class="sec17block3">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 5</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                       
                    </div>
                    <div class="col-md-3">
                       <div class="sec17block3">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 6</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec17block3">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 7</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                       <div class="sec17block3">
                            <img class="imgsec17descarte"src="images/sec17imgblocos.png">   
                            <h4 class="sec17th4">Usuário 8</h4>
                            <p class="sec17ph2">@arrobadousuario</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Section 14 -->
       
        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>